# file: cnf/wrapp.doc-pub-host.cnf
# file: cnf/wrapp.doc-pub-host.cnf
[MAIN_SETTINGS]


Emails=yordan.georgiev@gmail.com

# where to place the backups of the 
network_backup_dir=/vagrant/csitea/wrapp/dat/zip

# eof file: cnf/wrapp.doc-pub-host.cnf
