# file: src/bash/wrapp/wrapp.doc-pub-host.cnf
[MainSection]

#use simple var_name=var_value syntax 

#the name of this application 
app_name=wrapp

db=issue_tracker

# to whom to send e-mails - use space as delimiter
Emails=yordan.georgiev@gmail.com

# this way each environment will se its respective db 
db_name="$env_type"_"$db"

# where to place the backups of the 
network_backup_dir=/vagrant/csitea/wrapp/dat/zip

#eof file: src/bash/wrapp/wrapp.doc-pub-host.cnf
