#file: /opt/csitea/wrapp/wrapp.0.0.7.dev.ysg/src/bash/wrapp/wrapp.cnf 
[MAIN_SETTINGS]

#use simple var_name=var_value syntax 

#the name of this application 
run_unit=wrapp

#the name of this application's db
db_name=dev_wrapp


#eof file: /opt/csitea/wrapp/wrapp.0.0.7.dev.ysg/src/bash/wrapp/wrapp.cnf
